* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

body {
    background-color: #f2f3cd;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    position: relative;
    height: 98%;
    width: 100%;
    background-color: #f0e39d;
    border-radius: 5px;
    overflow: hidden;
    outline: 5px solid #333;
}

#start-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}


#board {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 150px / 2);
    width: 150px;
    height: 20px;
    background-color: #7a6f09;
    border-radius: 10px;
}
#ball {
    position: absolute;
    bottom: calc(20px + 20px);
    left: calc(50% - 20px / 2);
    width: 20px;
    height: 20px;
    background-color: #860303;
    border-radius: 50%;
    border: 1px solid #fff;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#pause-button {
    position: absolute;
    display: none;
    margin: 20px 0 0 20px;
    width: 50px;
}

.button:hover {
    background-color: #000;
}

@media (max-width: 767px) {
    #game-container {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #game-container {
        width: 75%;
    }
}
@media (min-width: 1024px) {
    #game-container {
        width: 50%;
    }
}